<%- include('./partials/header') %>

<% if (user) { %>
<a href="/routines/new">Create Routine</a>
<% } %>
<a href="/routines?type=Strength" >Strength</a>
<a href="/routines?type=Cardio" >Cardio</a>
<a href="/routines?type=Hypertrophy" >Hypertrophy</a>
<a href="/routines?type=Other" >Other</a>

<%- include('./partials/footer') %>