<%- include('./partials/header') %>
<div id="card-holder">
    <a class="card" href="/routines?type=Strength" >Strength</a>
    <a class="card" href="/routines?type=Cardio" >Cardio</a>
    <a class="card" href="/routines?type=Hypertrophy" >Hypertrophy</a>
    <a class="card" href="/routines?type=Other" >Other</a>
</div>

<%- include('./partials/footer') %>