<%- include('./partials/header') %>
<div id="card-holder">
    <a id="strength" class="card" href="/routines?type=Strength" >Strength</a>
    <a id="cardio" class="card" href="/routines?type=Cardio" >Cardio</a>
    <a id="hypertrophy" class="card" href="/routines?type=Hypertrophy" >Hypertrophy</a>
    <a id="other" class="card" href="/routines?type=Other" >Other</a>
</div>

<% if (user) { %>
    <div class="create">    
        <a class="add" id="create" href="/routines/new">Create Routine</a>
    </div>
<% } %>

<%- include('./partials/footer') %>