:root {
  --accent-dark: #0A0903;
  --accent-light: #5D6D7C;
  --my-white: #F6F5F0;
  --my-yellow: #F9DA3A;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.showing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "nav"
  "main";
  background-color: var(--accent-light);
}

body > nav {
  grid-area: nav;
  background-color: var(--my-yellow);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px 20px 20px 30px;
}

a {
  color: var(--accent-dark);
}

a:visited {
  color: var(--accent-dark)
}

table {
  background-color: var(--my-yellow);
  box-shadow: 0 4px 8px 0 var(--accent-dark);
  border-radius: 15px;
  font-size: 20px;
  margin: .5rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid var(--accent-light);
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
  text-align: center;
}

.login, .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  color: var(--accent-dark);
  text-decoration: none;
}

.login img, .logout img {
  height: 30px;
}

#card-holder {
  margin-top: .5rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 35% 35%;
  grid-gap: 2rem;
}

.card {
  width: 95%;
  height: 26vmin;
  font-size: 6vw;
  text-shadow: 2px 2px var(--accent-dark);
  text-decoration: none;
  color: var(--my-yellow);
  box-shadow: 0 4px 8px 0 var(--accent-dark); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: var(--accent-light);
  border-radius: 15px;
  vertical-align: middle
}

.card:visited {
  color: var(--my-yellow);
}

#title {
  color: var(--accent-dark);
  font-size: 34px;
}

#cardio {
  background-image: url("https://images.unsplash.com/photo-1499438075715-fc23ef376ab9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1908&q=80");
  background-size: cover;
}

#other {
  background-image: url("https://images.unsplash.com/photo-1593810451137-5dc55105dace?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
  background-size: cover;
}

#strength {
  background-image: url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zml0bmVzc3xlbnwwfHwwfGJsYWNrX2FuZF93aGl0ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}

#hypertrophy {
  background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
  background-size: cover;
}

div.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

#create {
  display: flex;
  width: 55vmin;
  height: 10vmin;
  font-size: 6.8vmin;
  text-decoration: none;
  color: var(--accent-dark);
  box-shadow: 0 4px 8px 0 var(--accent-dark); /* this adds the "card" effect */
  border-radius: 15px;
  text-align: center;
  background-color: var(--my-yellow);
  justify-content: center;
}

.workout-title {
  font-size: 2rem;
  font-weight: bolder;
}

.delete, .add{
  border-radius: 5px;
  border-style: solid;
  border-color: var(--accent-dark);
  background-color: var(--my-yellow);
}

.delete:hover, .add:hover {
  background-color: var(--accent-dark);
  color: var(--my-yellow);
}

.showing hr {
  width: 60%;
  border-top: 2px solid var(--my-yellow);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 10px;
}

#tips {
  width: 60%;
}

.edit-r {
  display: flex;
  flex-direction: column;
}

.type-stuff {
  border: 0px solid;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 var(--accent-dark);
  text-align: right;
}

.edit-r input {
  margin-top: .8rem;
}

.edit-r label {
  font-size: 4vmin;
  font-weight: bold;
  margin-top: .5rem;
}

.my_forms {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

.my_forms input {
  grid-column: span 2;
  width: 6rem;
  margin-left: auto;
}

.number-entry {
  width: 8vmin;
}