<%- include('../partials/header') %>

<form action="/routines" method="POST">
    <label>ROUTINE NAME</label>
    <input type="text" name="name" required>
    <label>TYPE OF WORKOUT</label>
    <select name="type" required>
        <option value="Cardio">Cardio</option>
        <option value="Strength">Strength</option>
        <option value="Hypertrophy">Hypertrophy</option>
        <option value="Other">Other</option>
    </select>
    <label>TIPS AND RECOMENDATIONS</label>
    <textarea name="creatorTips"></textarea>
    <br>
    <input type="submit" value="CONTINUE">
</form>

<%- include('../partials/footer') %>